services:
  backend:
    build:
      context: .
      target: development
    container_name: time_tracking_backend_server
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app/backend
      - ./public:/app/public
      - /app/backend/node_modules
    env_file:
      - ./backend/.env
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    container_name: time_tracking_postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_volume:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: time_tracking_adminer_ui
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data_volume: